.title-h2 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}



    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
    }

.inscription-legend{
    color:white;
}

strong {
    font-size: 18px;
    font-weight: 700;
}

.inscription-legend-1{
    text-align: left;
    color:#ffffff;
        
}

.inscription-legend-2 {
    text-align: right;
    color: white;
}
   
    .d-flex {
  display: flex;
  justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.circle-right {
    shape-outside: circle(45% at 0% 50%);
    shape-margin: 10%;
    width: 250px;
    height: 300px;
    float: left;
}

.circle-left {
    shape-outside: circle(45% at 100% 50%);
    shape-margin: 10%;
    width: 250px;
    height: 300px;
    float: right;
}



.horse-img {
    width: 300px;
}

.body-background {
    background-image: url(https://ca.howrse.com/media/equideo/image/background/body/inscription/background.jpg?73733786);
    top: 0;
    background-repeat: no-repeat;
    width: 100%;
    left: 0;
    z-index: -1;
    background-position: center top;
    position: absolute;
    height: 1000px;
}

ol, ul {
    list-style: none;
}

.selected-items {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

    .selected-items:hover{
        color: #1c6c05;
    }

    .radio {
        visibility: hidden;
    }


[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}

    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }

.skill-set {
    background: rgba(74,84,58,.4);
    border-radius: 24px;
    width: auto;
    margin: 5px auto;
    padding: 10px 15px;
    color: aliceblue;
}

form {
    margin: 22px 0;
    width: 300px;
}

.row{
    justify-content: center;
    -webkit-justify-content: center;
}
.form-group{
    margin-right: 10px;
}