<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <ul>
        <li>breed 1</li>
        <li>breed 2</li>
        <li>breed 3</li>
        <li>breed 4</li>
        <li>breed 5</li>
        <li>breed 6</li>
      </ul>
    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">
      <ul>
        <li>Color 1</li>
        <li>Color 2</li>
        <li>Color 3</li>
        <li>Color 4</li>
        <li>Color 5</li>
        <li>Color 6</li>
      </ul>
    </div>
  </div>
  <form>
    <div class="form-group">
      <label class="sr-only" for="login">Login</label>
      <input type="text" class="form-control" id="login" placeholder="Enter Login name">
    </div>
    <div class="form-group">
      <label class="sr-only" for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-inline form-group">
      <div class="form-group">
        <select class="custom-select" id="birthYear">
          <option>1990</option>
          <option>2000</option>
        </select>
      </div>
      <div class="form-group">
        <select class="custom-select" id="birthMonth">
          <option>September</option>
          <option>June</option>
        </select>
      </div>
      <div class="form-group">
        <select class="custom-select" id="birthDay">
          <option>2</option>
          <option>16</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="inscription">
      <div class="form-group custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="terms">
        <label class="custom-control-label" for="terms">I agree with the Terms</label>
      </div>
    </div>
    <button type="submit" class="btn btn-play">Play</button>
  </form>
</div>
