

<div class="container-fluid">
    <h2 class="title-h2"> Select a horse.. </h2>
    <div class="row d-flex">


        <div class="col-sm-4">

            <div class="circle-left"></div>
            <h3 class="inscription-legend-1">Breeds</h3>
            <ul class="list-unstyled text-right">

                <li>
                    <label class="selected-items"> Thoroughbred</label><input name="group1" type="radio" />
                </li>

                <li class="selected-items">
                    <label for="huey">Arabian Horse</label>
                    <input type="radio" id="huey" name="drone" value="huey"
                           checked>
                </li>

                <li class="selected-items">
                    <input type="radio" id="color2" class="radio" name="radio-group">
                    <label class="selected-items" for="color2">American Quater Horse</label>
                </li>

                <li class="selected-items">
                    <input type="radio" id="color2" class="radio" name="radio-group">
                    <label class="selected-items" for="color2">American Paint Horse</label>
                </li>

                <li class="selected-items">
                    <input type="radio" id="color2" class="radio" name="radio-group">
                    <label class="selected-items" for="color2">Friesian Horse</label>
                </li>


                <li class="selected-items">
                    <input type="radio" id="color2" class="radio" name="radio-group">
                    <label class="selected-items" for="color2"> Tennessee Walking Horse </label>
                </li>

                <li class="selected-items">
                    <input type="radio" id="color2" class="radio" name="radio-group">
                    <label class="selected-items" for="color2"> Argentinean Criollo </label>
                </li>

                <li class="selected-items">
                    <input type="radio" id="color2" class="radio" name="radio-group">
                    <label class="selected-items" for="color2"> Canadian horse </label>
                </li>

            </ul>
        </div>

        <div class="col-sm-4 flex-column">
            <img src="https://ca.howrse.com/media/equideo/image/chevaux/adulte/trotteur/normal/300/alz.png" class="transparent horse-img">

            <h4 class="text-nowrap">Best Skill</h4>
            <strong class="text-nowrap">Stamina</strong>
        </div>



        <div class="col-sm-4">

            <h3 class="inscription-legend-2">Coats</h3>
            <div class="circle-right"></div>
            <ul class="list-unstyled">

                <li>

                    <input type="radio" id="color1" class="radio" name="radio-group">
                    <label class="selected-items" for="color1">Chestnut</label>
                </li>
                <li class="selected-items">
                    <input type="radio" id="color2" class="radio" name="radio-group">
                    <label class="selected-items" for="color2">Bay</label>
                </li>

                <li class="selected-items">
                    <input type="radio" id="color2" class="radio" name="radio-group">
                    <label class="selected-items" for="color2">Liver Chestnut</label>
                </li>

                <li class="selected-items">
                    <input type="radio" id="color2" class="radio" name="radio-group">
                    <label class="selected-items" for="color2">Dark Bay</label>
                </li>

                <li class="selected-items">
                    <input type="radio" id="color2" class="radio" name="radio-group">
                    <label class="selected-items" for="color2">Cherry Bay</label>
                </li>

                <li class="selected-items">
                    <input type="radio" id="color2" class="radio" name="radio-group">
                    <label class="selected-items" for="color2">Black</label>
                </li>

                <li class="selected-items">
                    <input type="radio" id="color2" class="radio" name="radio-group">
                    <label class="selected-items" for="color2">Flaxen Liver chestnut</label>
                </li>

            </ul>
        </div>
    </div>

    <div class="row">

        <h2 class="title-h2">...and create your account </h2>

        <form class="col-centered" #f="ngForm" (ngSubmit)="onSubmit(f)">

            <div class="form-group col-centered">
                <label class="sr-only" for="login">Login</label>
                <input #login="ngModel" ngModel type="text" name="login" class="form-control" id="login" placeholder="Login name">
            </div>

            <div class="form-group">
                (Strength: ? )<label class="sr-only" for="password">Password</label>
                <input #paswword="ngModel" ngModel name="password" type="password" class="form-control" id="password" placeholder="Password">
            </div>

            <div class="form-inline form-group">
                <div class="form-group">
                    <select class="custom-select" id="birthYear" #year="ngModel" name="year" ngModel>
                        <option>1990</option>
                        <option>2000</option>
                        <option>2001</option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="custom-select" id="birthMonth" #month="ngModel" name="month" ngModel>
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="custom-select" id="birthDay" #day="ngModel" name="date" ngModel>
                        <option>2</option>
                        <option>16</option>
                        <option>  </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Enter email" #email="ngModel" name="email" ngModel>
            </div>

            <h5 class="title-h2">Enter the login name of the person who introduced you to Howrse here.</h5>

            <div class="form-group col-centered">
                <label class="sr-only" for="login">Login</label>
                <input #login="ngModel" ngModel type="text" name="login" class="form-control" id="login" placeholder="Referred by (option) ">
            </div>

            <hr />

            <div class="inscription">
                <div class="form-group custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="terms" #checkbox="ngModel" name="checkbox" ngModel>
                    <label class="custom-control-label" for="terms">I have read and agree to the Terms and Conditions of Use, the End User License Agreement and the Privacy Policy</label>
                </div>
            </div>

            <button type="submit" class="btn btn-play">Play</button>

        </form>
    </div>
</div>
