.bk {
  background: rgba(52,99,156,.7);
  width: 940px;
  height: 38px;
  border-radius: 4px;
  float:left;
  margin: 10px 0  0 0;
}

.sr-only {
  padding-right: 5px;
}

.textm {
  color: #fff;
  padding-left: 18px;
  font-weight: 500;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: -13px;
  transform: translate(2%);
}

.dropdown-item:hover {
  background: blue;
}

.dropdown-toggle::after {
  display: none;
}

.textp {
  padding-left: 18px;
  font-size: 18px;
  font-weight: 500;
  font-family: Arial,Helvetica,sans-serif;
}

.textd {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
}

.textc {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #35649c;
}

.textb {
  color: #35649c;
}

.tabd {
  padding-left: 26px;
  color: #35649c;
}

.question {
  font-size: 35px;
  font-weight: 700;
  color: white;
  margin-left: -7.25px;
}

.navsize {
  float:left;
  margin: 10px 0 0 10px; ;
  width: 44px;
  height: 38px;
  background: rgba(52,99,156,.7);
  border-radius: 4px; 
}



.arrow_box {
  position: relative;
  background: #fff;
  border: 4px solid #ffffff;
}

  .arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -120px;
  }

  .arrow_box:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 12px;
    margin-left: -120px;
  }

.arrow_box2 {
  position: relative;
  background: #fff;
  border: 4px solid #ffffff;
}

  .arrow_box2:after, .arrow_box2:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box2:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -144px;
  }

  .arrow_box2:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 12px;
    margin-left: -144px;
  }

