
<nav class="navbar navbar-expand-sm navbar-light bk navbarflex align-items-center  ">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle"><i class="fas fa-horse-head space " href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i> <span class="textm">Breeding Farm</span> </a>
        <div class="dropdown-menu  arrow_box" aria-labelledby="navbarDropdown">
          <a class="dropdown-item disabled" href="#"> <i class="fas fa-clipboard"></i><span class="textd">Office</span><i class="fas fa-lock space"></i></a>
          <hr />
          <a class="dropdown-item" href="#"> <span class="textb"><i class="fas fa-horse-head"></i></span><span class="textc">Horse</span></a>
          <hr />
          <a class="dropdown-item disabled" href="#"> <i class="fas fa-award"></i><span class="textd">Competition Results</span><i class="fas fa-lock space"></i></a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><i class="fas fa-lock space"><i class="fab fa-houzz"></i></i> <span class="textp">Equestrian centre</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><i class="fas fa-lock space"><i class="fas fa-coins"></i></i> <span class="textp">Trade</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle "><i class="fas fa-users space" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i> <span class="textm">Community</span> </a>
        <div class="dropdown-menu arrow_box arrow_box2" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"> <span class="textb"><i class="fas fa-user-shield"></i></span><span class="textc">Friends</span></a>
          <hr />
          <a class="dropdown-item" href="#"> <span class="textb"><i class="fas fa-search"></i></span><span class="textc">Directories</span></a>
          <a class="dropdown-item" href="#"> <span class="tabd"><i class="fas fa-chevron-right"></i></span><span class="textc">Equestrian Forum</span></a>
          <a class="dropdown-item" href="#"> <span class="tabd"><i class="fas fa-chevron-right"></i></span><span class="textc">Events</span></a>
          <a class="dropdown-item" href="#"> <span class="tabd"><i class="fas fa-chevron-right"></i></span><span class="textc">Game Play</span></a>
          <a class="dropdown-item" href="#"> <span class="tabd"><i class="fas fa-chevron-right"></i></span><span class="textc">Equestrian Center classified</span></a>
          <hr />
          <a class="dropdown-item" href="#"> <span class="textb"><i class="fas fa-user-plus"></i></span><span class="textc">Invite Players </span></a>
          <hr />
          <a class="dropdown-item" href="#"> <span class="textb"><i class="fas fa-paint-brush"></i></span><span class="textc">Creation Space</span></a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><i class="fas fa-lock space"><i class="fab fa-houzz"></i></i> <span class="textp">Achievements</span></a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-light navsize">
  <a href="" class="question"> <span>?</span></a>
</nav>



