<div class="module-style-7-inner module-inner">
  <div class="module-style-7-item module-item">
    <div class="module-style-7-content module-content">
      <div class="content" id="skills-body-content">
        <div class="grid-table width-100">
          <div class="grid-row">
            <div class="grid-cell">
              <h4 class="console-titre">Skills </h4>
            </div>
            <div class="grid-cell align-right">
              <h4 class="console-titre">
                Total:
                <span id="competencesValeur">6156.87</span>
              </h4>
            </div>
          </div>
        </div>
        <table class="width-100">
          <tbody>
            <tr>
              <td class="first dashed complete" id="enduranceLabel">Stamina</td>
              <td class="dashed complete" id="enduranceEtoiles" align="center">
                <div _tooltip="
									<strong class=&quot;competence&quot;>1106.89</strong>
									<span class=&quot;bonus&quot; dir=&quot;ltr&quot;>+6</span>" class="star star-style-1" style="width:160px" data-tooltip="
									<strong class=&quot;competence&quot;>1106.89</strong>
									<span class=&quot;bonus&quot; dir=&quot;ltr&quot;>+6</span>" data-tooltip-theme="0">
									<div class="width-48">48.1257</div>
								</div>
              </td>
              <td class="last dashed complete align-right">
                <strong id="enduranceValeur">1106.89</strong>
              </td>
            </tr>
            <tr>
              <td class="first dashed complete" id="vitesseLabel">Speed</td>
              <td class="dashed complete" id="vitesseEtoiles" align="center">
                <div _tooltip="
									<strong class=&quot;competence&quot;>1279.27</strong>
									<span class=&quot;bonus&quot; dir=&quot;ltr&quot;>+6</span>" class="star star-style-1" style="width:160px" data-tooltip="
									<strong class=&quot;competence&quot;>1279.27</strong>
									<span class=&quot;bonus&quot; dir=&quot;ltr&quot;>+6</span>" data-tooltip-theme="0">
									<div class="width-56">55.6204</div>
								</div>
              </td>
              <td class="last dashed complete align-right">
                <strong id="vitesseValeur">1279.27</strong>
              </td>
            </tr>
            <tr>
              <td class="first dashed" id="dressageLabel">Dressage</td>
              <td class="dashed" id="dressageEtoiles" align="center">
                <div _tooltip="
									<strong class=&quot;competence&quot;>964.01</strong>
									<span class=&quot;bonus&quot; dir=&quot;ltr&quot;>+6</span>" class="star star-style-1" style="width:160px" data-tooltip="
									<strong class=&quot;competence&quot;>964.01</strong>
									<span class=&quot;bonus&quot; dir=&quot;ltr&quot;>+6</span>" data-tooltip-theme="0">
									<div class="width-42">41.9136</div>
								</div>
              </td>
              <td class="last dashed align-right">
                <strong id="dressageValeur">964.01</strong>
              </td>
            </tr>
            <tr>
              <td class="first dashed" id="galopLabel">Gallop</td>
              <td class="dashed" id="galopEtoiles" align="center">
                <div _tooltip="
									<strong class=&quot;competence&quot;>551.71</strong>
									<span class=&quot;bonus&quot; dir=&quot;ltr&quot;>+6</span>" class="star star-style-1" style="width:160px" data-tooltip="
									<strong class=&quot;competence&quot;>551.71</strong>
									<span class=&quot;bonus&quot; dir=&quot;ltr&quot;>+6</span>" data-tooltip-theme="0">
									<div class="width-24">23.9873</div>
								</div>
              </td>
              <td class="last dashed align-right">
                <strong id="galopValeur">551.71</strong>
              </td>
            </tr>
            <tr>
              <td class="first dashed" id="trotLabel">Trot</td>
              <td class="dashed" id="trotEtoiles" align="center">
                <div _tooltip="
									<strong class=&quot;competence&quot;>1507.61</strong>
									<span class=&quot;bonus&quot; dir=&quot;ltr&quot;>+6</span>" class="star star-style-1" style="width:160px" data-tooltip="
									<strong class=&quot;competence&quot;>1507.61</strong>
									<span class=&quot;bonus&quot; dir=&quot;ltr&quot;>+6</span>" data-tooltip-theme="0">
									<div class="width-66">65.5483</div>
								</div>
              </td>
              <td class="last dashed align-right">
                <strong id="trotValeur">1507.61</strong>
              </td>
            </tr>
            <tr>
              <td class="first " id="sautLabel">Jumping</td>
              <td class="" id="sautEtoiles" align="center">
                <div _tooltip="
									<strong class=&quot;competence&quot;>747.38</strong>
									<span class=&quot;bonus&quot; dir=&quot;ltr&quot;>+6</span>" class="star star-style-1" style="width:160px" data-tooltip="
									<strong class=&quot;competence&quot;>747.38</strong>
									<span class=&quot;bonus&quot; dir=&quot;ltr&quot;>+6</span>" data-tooltip-theme="0">
									<div class="width-32">32.4946</div>
								</div>
              </td>
              <td class="last  align-right">
                <strong id="sautValeur">747.38</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
