<div class="container">
  <ul class="nav nav-tabs">
    <li [class.active]="viewMode == 'char'" rel="char"><a (click)="viewMode ='char'">Characteristics</a></li>
    <li [class.active]="viewMode == 'genetic'" rel="genetic"><a (click)="viewMode ='genetic'">Genetic</a></li>
    <li [class.active]="viewMode == 'bonus'" rel="bonus"><a (click)="viewMode ='bonus'">Bonus</a></li>
  </ul>

  <div class="box-content" [ngSwitch]="viewMode">
    <div id="char" *ngSwitchCase="'char'">
      <div class="horse-info">
        <div class="flex-row-between">
          <div>
            <strong>Breed</strong>: <span class="breed">French Trotter</span>
          </div>
          <div>
            <strong>Age</strong>: 10 years
          </div>
        </div>

        <div class="flex-row-between">
          <div>
            <strong>Species</strong>: Riding Horse
          </div>
          <div>
            <strong>Height</strong>: 16.2 Hands
          </div>
        </div>

        <div class="flex-row-between">
          <div>
            <strong>Gender</strong>: Mare
          </div>
          <div>
            <strong>Weight</strong>: 504 kg
          </div>
        </div>

        <div class="flex-row-between">
          <div>
            <strong>Coat</strong>: Chestnut
          </div>
          <div>
            <strong>Date of Birth</strong>: 10/1/2011
          </div>
        </div>

        <div class="flex-row-between">
          <div>
            <strong>Producer</strong>: Emma
          </div>
        </div>
      </div>

      <table class="table table-border">
        <thead>
          <tr>
            <th>Tack</th>
            <th>Items</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>Competitions</div>
              <div>Bonuses</div>
            </td>
            <td>
              <em>None for the moment!</em>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th colspan="4">Victories</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>
              <div id="trophy"></div>
            </td>
            <td>
              <div id="trophy-silver"></div>
            </td>
            <td>
              <div id="trophy-bronze"></div>
            </td>
          </tr>
          <tr class="victory">
            <td class="victory-title">Galloping race</td>
            <td>4</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr class="victory">
            <td class="victory-title">Trotting race</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr class="victory">
            <td class="victory-title">Cross-country</td>
            <td>4</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr class="victory">
            <td class="victory-title">Show jumping</td>
            <td>6</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr class="victory">
            <td class="victory-title">Dressage</td>
            <td>4</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="genetic" *ngSwitchCase="'genetic'">
      <p>Some content in menu 1.</p>
    </div>

    <div id="bonus" *ngSwitchCase="'bonus'">
      <p>Some content in menu 2.</p>
    </div>
  </div>
</div>
