<div class="container">
    <div class="row justify-content-left">
        <img src="./assets/images/howrse2.png" />
    </div>
    <div class="row  align-items-end">
        <nav class="navbar  navbar-expand-lg form-inline navbar-collapse navbar-light bg-primary navbarhw">           
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-horse-head space"></i>Breeding Farm <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-lock space"><i class="fab fa-houzz"></i></i>Equestrian</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#"><i class="fas fa-lock space"><i class="fas fa-coins"></i></i>Trade</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#"><i class="fas fa-users space"></i>Community</a>
                    </li>
                    <li class="nav-item align-self-end">
                        <a class="nav-link disabled" href="#"><i class="fas fa-lock space"><i class="fas fa-trophy"></i></i>Achievements</a>
                    </li>
                </ul>           
        </nav>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-text">
                Navbar text with an inline element
            </span>
        </nav>
    </div>
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>
<div class="bg"></div>
<!--
<div class="container">
    <nav class="navbar navbar-light bg-primary">
        <ul>
            <h1>Under Construction...</h1>
        </ul>
    </nav>
    Navbar under construction
    <nav class="navbar navbar-expand-lg navbar-light bg-blue">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fas fa-horse-head space"></i>Breeding Farm <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-lock space"><i class="fab fa-houzz"></i></i>Equestrian</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#"><i class="fas fa-lock space"><i class="fas fa-coins"></i></i>Trade</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#"><i class="fas fa-users space"></i>Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#"><i class="fas fa-lock space"><i class="fas fa-trophy"></i></i>Achievements</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    table inserted here
    <div>
        <label>My horses without a breeding farm</label>
        <table>
            <thead>
                <tr>
                    <th>Greg</th>
                </tr>
            </thead>
            <tr>Circle</tr>
            <tr>
                <td>
                    <label>Energy</label>
                </td>
                <td>
                    <label>progress bar</label>
                </td>
                <td>
                    <label>913</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Health</label>
                </td>
                <td>
                    <label>progress bar</label>
                </td>
                <td>
                    <label>913</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Morale</label>
                </td>
                <td>
                    <label>progress bar</label>
                </td>
                <td>
                    <label>913</label>
                </td>
            </tr>

        </table>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Skills</th>
                    <th> </th>
                    <th>Total</th>
                </tr>
            </thead>
            <tr>
                <td>
                    <label>Stamina</label>
                </td>
                <td>
                    <label> *****</label>
                </td>
                <td>
                    <label>622.27</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Speed</label>
                </td>
                <td>
                    <label> *****</label>
                </td>
                <td>
                    <label>765.91</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Dressage</label>
                </td>
                <td>
                    <label> *****</label>
                </td>
                <td>
                    <label>691.91</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Gallop</label>
                </td>
                <td>
                    <label> *****</label>
                </td>
                <td>
                    <label>201.38</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Trot</label>
                </td>
                <td>
                    <label> *****</label>
                </td>
                <td>
                    <label>965.44</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Jumping</label>
                </td>
                <td>
                    <label> *****</label>
                </td>
                <td>
                    <label>418.17</label>
                </td>
            </tr>
        </table>
    </div>
</div> -->
