.space {
    padding-right:8px;
}

.bg {
    background-image: url("https://ca.howrse.com/media/equideo/image/chevaux/adulte/trotteur/normal/300/alz.png");
}

.navbarhw {
    width: 940px;
    height: 39px;
}